settings.json
.editorconfig
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/.DS_Store
.DS_Store
.class
target/classes/com/devoteam/App.class
target/classes/com/devoteam/exceptions/OutOfBoundsException.class
target/classes/com/devoteam/grid/Grid.class
target/classes/com/devoteam/robot/Robot.class
target/surefire-reports/com.devoteam.RobotTest.txt
